# Firebase Configuration - Development (Local)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyArLJYk4QhNbtxyYRiinEXpL3biRUxYEBI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=realhubb-marketing-app.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=realhubb-marketing-app
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=realhubb-marketing-app.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=752245781085
NEXT_PUBLIC_FIREBASE_APP_ID=1:752245781085:web:fba1b8376a92955ca9d3b4

# Meta API Configuration
META_APP_ID=1610947413287627
META_APP_SECRET=64dcd746b5dc2c54ded45f5ab4bcd53a
META_ACCESS_TOKEN=EAAW5JexSIssBRL4ukYnC47OHUYWPZAvyPyjYlybtWZA45lryUQZAXV4yxpigZB5uzrtqht4F1ZBlII80VZBUYiCdocFFxk1ZCA58FrlDlBPwEhUkxd00GgUQjyRRIqIQOyHcOT9z6itSNcb1NktGPBUsJrcWQjijrADETnKUA4tup6Qwr9q6fFfLdSBUrppmlOgPYGcPECZARmx0vZBSbD7S5BdZB1EsClM4yyDHFS
# WhatsApp Cloud API
WHATSAPP_BUSINESS_ACCOUNT_ID=your_waba_id

# Firebase Admin SDK (for Cloud Functions)
FIREBASE_ADMIN_PRIVATE_KEY=your_private_key
FIREBASE_ADMIN_CLIENT_EMAIL=your_client_email
